{% extends 'admin/base.html.twig' %}

{% block title %}Edition des réservations{% endblock %}

{% form_theme form _self %}

{% block body %}

<main class="container mt-5">

        {{form_start(form)}}
        <div class="row">
            <h1 class="text-center mb-5">Modification de la réservation n°{{booking.id}}</h1>

            <div class="col-md-3 offset-md-2">
                {{form_row(form.date)}}
             
            </div>
            <div class="col-md-3">
                {{form_row(form.time)}}
             
            </div>
            <div class="col-md-3">
                {{form_row(form.users)}}
             
            </div>
        </div>
        
        <div class="text-center">
   
            <button type="submit" class="mt-5 btn btn-info"><i class="fas fa-check"></i> Enregistrer</button>
        {{form_end(form)}}
        </div>

   
</main>
            
{% endblock %}



