{% block _menu_images_widget %}
    <p>Ici vous pouvez ajouter des images supplémentaires</p>
    <input type="hidden" id="widget-count" value="0">
    <button type="button" id="add-image" class="btn btn-secondary">Ajouter une image</button>

    {{ form_widget(form) }}

{% endblock %}

{% block _menu_images_entry_row %}

    {{ form_widget(form) }}

{% endblock %}

{% block _menu_images_entry_widget %}

    <div class="form-group" id="bloc_{{id}}">
        <div class="row">
            <div class="col-md-10 col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                    </div>

                </div>
            
            </div>
            <div class="col-md-2 col-2">

                <button type="button" class="btn btn-danger" data-action="delete" data-target="#bloc_{{id}}">X</button>
            </div> 
        
        </div>
        
    </div>
{% endblock %}