{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}

    <div class="container mt-5 mb-5">
    
        <div class="row align-items-center">
        
            <div class="col-3 text-center">
                <img src="{{ user.avatar }}" alt="avatar de {{ user.fullName }}" class="avatar mb-3">
                <br>
               
            </div>
            <div class="row col-9">
                <h1>{{ user.fullName }}</h1>  

                {% if user is same as (app.user) %}  
                    <div class="col-md-6 ">
                        <div class="p-2">
                            <a href="{{ path('account_profile')}}" class="btn btn-primary btn-sm">Modifier mes informations</a>
                        </div>
                        <div class="p-2">
                            <a href="{{ path('account_password')}}" class="btn btn-primary btn-sm">Modifier mon mot de passe</a>
                        </div>
                        <div class="p-2">
                            <a href="{{ path('account_orders')}}" class="btn btn-primary btn-sm">Voir mes commandes et livraisons</a>
                        </div>
                        <div class="p-2">
                            <a href="{{ path('account_bookings')}}" class="btn btn-primary btn-sm">Voir mes réservations de table</a>
                        </div>
                    </div>
            
                {% endif %}
            
            </div>
        </div>
        <div class="container mt-5">
            {{ user.description |raw }}
         

        </div>

      

    </div>

{% endblock %}
